md-toolbar
    
    &.simput-header
        background #0a0a0a
        color #fff

.file-drag
    cursor pointer
    background #ffffff
    padding 20px

md-content.md-default-theme
    background none

md-content#drop-data-model
    background none

@keyframes blink { 
    0% { background: #fff; }
    50% { background: #ccc; }
    100% { background: #fff; }
}

md-content#drop-data-model.drag-over
    background #eee
    animation blink 2s linear infinite

.nav
    list-style outside none none
    margin-bottom 0
    padding-left 0

ul
    margin-top 0


.simput-property
    margin-top 30px

.simput-property-panel label
    color rgba(0,0,0,0.26)

.simput-property-head-group
   margin-top 20px
   margin-bottom 20px
   position relative
   left -5px


[ng-click], [ui-sref]
    cursor pointer

strong[title]
    font-size 1.5em

.width-100
    width 100%

    input
        width 100%

.width-90
    width 90%

    input
        width 90%

.text-center
    text-align center

button.md-button.md-fab.help-button
    background #ccc

button.md-button.md-fab.help-button.md-default-theme:hover
    background #aaa

.md-button.md-fab.help-button
    height 25px
    width 25px
    padding 0
    margin 0
    background-color #aaa

        .fa
            top -2px
            position relative
            font-size 20px

md-sidenav
    .active
        font-weight bold

.time-function-widget
    width               80%
    height              100%

.time-function-container 
    height              100%
    width               100%

    .time-function-drop-zone 
        width               100%
        height              100%
        border-style        solid
        border-width        1px
        border-color        lightgray
        margin-top          20px

    .axis path, .axis line
        fill                none
        stroke              #000
        shape-rendering     crispEdges

    .line 
        fill                none
        stroke              steelblue
        stroke-width        1.5px

    .time-function-textarea
        -webkit-transition  all linear 0.5s
        transition          all linear 0.5s
        background-color    none

    .time-function-textarea.invalid 
        background-color    rgba(255,0,0,0.1)

    textarea 
        width               100%
        resize              none
        -webkit-box-sizing  border-box
        -moz-box-sizing     border-box
        box-sizing          border-box

    .time-function-chart, .time-function-textarea
        height              550px

    md-tabs.md-default-theme .md-header
        background          #888888

    md-tabs.md-default-theme md-tab 
        color               #cccccc 

    md-tabs.md-default-theme md-tab.active
        color               #ffffff 
